.container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 88px;
	padding: 28px 20px 20px 20px;
}

.pages {
	display: flex;
	gap: 12px;
}

.pagesContainer {
	display: flex;
	overflow: hidden;
	align-items: center;
	gap: 12px;
}

.itemPage,
.itemPageActive,
.itemPageArrowNext,
.itemPageArrowPrev {
	color: var(--textColor);
	width: 40px;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 14px;
	font-weight: 500;
	line-height: 20px;
	letter-spacing: -0.05px;
	box-sizing: border-box;
	border: none;
	border-radius: 6px;
	cursor: pointer;
	transition: all 0.3s ease 0s;
}

.itemPage,
.itemPageActive {
	flex: 0 0 auto;
}

.itemPage:hover {
	border: 2px solid var(--colorPrimary);
}
.itemPageActive {
	border: 2px solid var(--colorPrimary);
}

.itemPageArrowNext,
.itemPageArrowPrev {
	border: 1px solid rgb(242, 238, 238);
	border-radius: 4px;
	background: rgb(255, 255, 255);
	background-image: url(../../assets/arrow.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: auto;
}

.itemPageArrowPrev {
	transform: rotate(180deg);
}

.itemPageArrowNext:hover,
.itemPageArrowPrev:hover {
	background-color: var(--colorPrimary);
}

.pagesNum {
	display: flex;
	gap: 13px;
}

.pagesNumText {
	color: var(--colorSecondary);
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
	letter-spacing: -0.05px;
}
