#root {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.container {
  width: 1165px;
  margin: 0 auto;
}