:root {
  --mainFont: 'Inter', sans-serif;
  --textColor: rgb(53, 36, 36);
  --colorSecondary: rgb(81, 74, 74);
  --colorPrimary: rgb(168, 87, 87);
  --colorBaseWhite: rgb(255, 255, 255);
  --colorBG: rgb(247, 244, 244);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:before,
*:after {
  box-sizing: border-box;
}

ul li {
  list-style: none;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: var(--mainFont);
  color: var(--textColor);
}

button {
  cursor: pointer;
}
